/* Desktop */
:root{
    --blueText: #0065FC;
    --lighGrey:#F2F2F2;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
::placeholder {
    color: black;
    opacity: 1;
}

/* ################################################################ */

.container{
    max-width: 1440px;
    padding: 0 50px 0 50px;
    width: 100%;
}
body{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    
}

/* ################################################################# */
 

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}
.columnDir{
    flex-direction: column;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 22px;
    margin: 0;
}
h3{
    font-size: 16px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
.blueIcon{
    color: var(--blueText);
}
.roundBorder{
    border-radius: 20px;
}

/* #################################################################### */

nav img{
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}
.blockNav{
    display: flex;
}
.buttonNav{
    height: 111px;
    width: 162px;
    border-top: 2px solid transparent;
}
.buttonNav:hover{
    border-top: 2px solid var(--blueText);
}
.buttonNav>a:hover{
    color: var(--blueText);
} 

/* ########################################################## */

.research{
    font-weight: bold;
    font-size: 18px;
    width: 20%;
    height: 49px;
    padding: 0px;
}
.greyBackground{
    background-color: var(--lighGrey);
}
.greyBorder{
    border: 1px solid var(--lighGrey);
}
.iconSearch{
    height: 49px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}
.searchBar{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.buttonSearch{
    background: var(--blueText);
    color: white;
    height: 49px;
    width: 132px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--blueText);
}
.filterBar{
    display: flex;
    padding-top: 30px;
    gap: 36px;
    font-weight: bold;
}
.filterBar>p{
    font-size: 18px;
}
.buttonFilter{
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size:17px;
    gap: 10px;
    padding: 0 20px;
}
.buttonFilter:hover{
    background-color: var(--lighGrey);
}
.infoSearch{
   display: flex;
   align-items: center;
   gap: 11px;
   padding-top: 25px;
}
.infoIcon{
    border: 1px solid var(--lighGrey);
    border-radius: 50%;
    padding: 8px 12px 8px 12px;
}

/* ############################################################# */

main{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.whiteBackground{
    background: white;
}
.boxShadow{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.lodgeSection{
    padding: 40px;
    width: 65%;
    height: 546px;
}
.preview{
    height: 114px;
    border-radius: 20px 20px 0px 0px;
}
.details{
    padding-left: 16px;
}
.details>p{
    margin:0;
    padding: 5px 0;
    font-size: 14px;
}
.details>h3{
    padding-top:3px;
}
.lodgeSection>h2{
    padding-bottom: 23px;
}
.stars{
    color: var(--blueText);
}
.faded{
    color: var(--lighGrey);
}
.results{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 199px;
}
.resultsField{
    display: flex;
    justify-content: space-around;
    max-width: 880px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.marginBottom{
    margin-bottom: 30px;
}
.showMore{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.showMore:hover{
    color: var(--blueText);
}
.previewPic1{
    background-image: url("./images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

/* ################################################################# */

.popField{
    display: flex;
    width: 32%;
    height: 625px;
    margin-left: 40px;
}
.popFieldTitle{
    align-items: baseline;
    padding: 40px 40px 0 40px;
}
.popResults{
    display: flex;
    align-items: flex-start;
    width: 80%;
    height: 144px;
    margin: 30px 40px 0 37px;
}
.previewPop{
    width: 35%;
    height: 134px;
    border-radius: 20px 0 0 20px;
}
.detailsPop{
    width: 50%;
    height: 80%;
    padding: 15px;
}
.detailsPop p{
    font-size: 14px;
    margin: 0px;
    padding-top: 7px;
}
.backgroundPic{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
}
.previewPopPic1{
    background-image: url("../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

/* ###################################################### */

.activitiesSection{
    width: 100%;
    height: 493px;
    display: flex;
    margin: 60px 0 60px 0;
}
.activitiesPreview{
    display: flex;
    flex-direction: column-reverse;
    width: 23%;
    height: 444px;
    margin-top: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.activitiesPreviewPic1{
    background-image: url("../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.detailsAct{
    box-sizing: border-box;
    height: 55px;
    border-radius: 0 0 20px 20px;
    padding: 5%;
}

/* ###################################################### */

footer{
    display: flex;
    padding: 70px;
}
.footerTxt{
    display: flex;
    flex-direction: column;
    width: 35%;
}
footer h3{
    font-size: 18px;
    padding-bottom: 20px;
}
footer a{
    padding-bottom: 12px;
}
