/* Desktop */
/* Mise en page ################################################################ */

.container{
    max-width: 1400px;
    width: 100%;
}
body{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

/* Générales ################################################################# */
:root{
    --blueText:#0065FC;
    --lighGrey:#F2F2F2;
}
::placeholder {
    color: black;
    opacity: 1;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}
.columnDir{
    flex-direction: column;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 22px;
    margin: 0;
}
h3{
    font-size: 16px;
    margin: 0px;
    text-align: start;
}
a{
    text-decoration: none;
    color: black;
}
.blueIcon{
    color: var(--blueText);
}
.roundBorder{
    border-radius: 20px;
}
.euro {
    font-weight: bold;
}

/* Logo et nav #################################################################### */

nav img{
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}
.blockNav{
    display: flex;
}
.buttonNav{
    height: 111px;
    width: 162px;
    border-top: 2px solid transparent;
}
.buttonNav:hover{
    border-top: 2px solid var(--blueText);
    font-weight: 500;
}
.buttonNav:hover a{
    color: var(--blueText);
} 

/* Filtres et barre de recherches ########################################################## */

.research{
    font-weight: bold;
    font-size: 18px;
    width: 332px;
    height: 49px;
}

.greyBackground{
    background-color: var(--lighGrey);
}
.greyBorder{
    border: 1px solid var(--lighGrey);
}
.iconSearch{
    height: 49px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}
.searchBar{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.buttonSearch{
    background: var(--blueText);
    color: white;
    height: 49px;
    width: 132px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--blueText);
}
.filterBar{
    display: flex;
    padding-top: 30px;
    font-weight: bold;
    font-size:17px;
}
.filters{
  display: flex;
}
.filters span {
    padding-left: 50px;
}
.buttonFilter{
    height: 46px;
    padding: 0 20px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.buttonFilter:hover{
    background-color: #DEEBFF;
}
.infoSearch{
   display: flex;
   align-items: center;
   gap: 11px;
   padding-top: 25px;
}
.infoIcon{
    border: 1px solid var(--lighGrey);
    border-radius: 50%;
    padding: 8px 12px 8px 12px;
}
.display{
    display: none;
}

/* Hebergements ############################################################# */

main{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.whiteBackground{
    background: white;
}
.boxShadow{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.lodgeSection{
    width: 65%;
    height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lodgeTitle{
    padding-top:40px;
    padding-left:40px;
}
.preview{
    height: 60%;
    border-radius: 20px 20px 0px 0px;
}
.details{
    padding: 0 12px 7px 12px;
    height: 40%;
}
.details>p{
    margin:0;
    font-size: 14px;
}
.details>h3{
    padding-top:3px;
}
.stars{
    color: var(--blueText);
}
.faded{
    color: var(--lighGrey);
}
.results{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 199px;
}
.resultsField{
    max-width: 880px;
    flex-wrap: wrap;
    padding-left: 40px;
    padding: 23px 40px 40px 40px;
}
.marginBottom{
    margin-bottom: 30px;
}
.showMore{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.showMore:hover{
    color: var(--blueText);
}
.previewPic1{
    background-image: url("../images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.previewPic2{
    background-image: url("../images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.previewPic3{
    background-image: url("../images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.previewPic4{
    background-image: url("../images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.previewPic5{
    background-image: url("../images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.previewPic6{
    background-image: url("../images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

/* Populaires ################################################################# */

.popSection{
    display: flex;
    width: 32%;
    margin-left: 40px;
}
.popSectionTitle{
    align-items: baseline;
    padding: 40px 40px 0 40px;
}
.popResults{
    display: flex;
    width: 100%;
    height: 144px;
}
.popResultsCards{
    height: 100%;
    display: flex;
    padding: 26px 40px 40px 40px;
}
.previewPop{
    width: 40%;
    height: 134px;
    border-radius: 20px 0 0 20px;
}
.detailsPop{
    width: 60%;
    height: 90%;
    padding: 10px 0 10px 10px;
    align-items: baseline;
    text-align: start;
}

.detailsPop p{
    font-size: 14px;
    margin: 0px;
    padding-top: 7px;
}
.backgroundPic{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
}
.previewPopPic1{
    background-image: url("../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.previewPopPic2{
    background-image: url("../images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.previewPopPic3{
    background-image: url("../images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}


/* Activités ###################################################### */

.activitiesSection{
    display: flex;
    width: 100%;
    height: 493px;
    margin: 60px 0 60px 0;
}
.activitiesPreview{
    display: flex;
    flex-direction: column-reverse;
    width: 23%;
    height: 444px;
    margin-top: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.activitiesCards{
    display: flex;
    justify-content: space-between;
}
.detailsAct{
    box-sizing: border-box;
    height: 55px;
    border-radius: 0 0 20px 20px;
    padding: 5%;
}
.activitiesPreviewPic1{
    background-image: url("../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.activitiesPreviewPic2{
    background-image: url("../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.activitiesPreviewPic3{
    background-image: url("../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.activitiesPreviewPic4{
    background-image: url("../images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

/* Footer ###################################################### */

footer{
    display: flex;
    padding: 70px;
}
.footerTxt{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-right: 40px;
}
footer h3{
    font-size: 18px;
    padding-bottom: 20px;
}
footer a{
    padding-bottom: 12px;
}




/* Affichage tablette 1024>768 */

@media (max-width: 1024px) {
    main{
        flex-direction: column;
    }
    .lodgeSection h3{
        font-size: 15px;
    }
    
    .filters{
        width: 100%;
        justify-content: space-between;
    }
    .filters span {
        padding-left: 0;
    }
    .lodgeSection{
       width: 100%;
    }
    .popSection{
        width: 100%;
        margin: 50px 0 0 0;
    }
    .detailsPop{ /* ajustement taille et police box détail au vu du nom d'hotel trop long*/
        height: 87%; 
        padding: 10px 10px 10px 10px;
    }
    .popSection h3{
        font-size: 14px;
    }
    .detailsPop p{
        font-size: 13px;
    }
    .popResultsCards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 26px 40px 40px 40px;
    }
    .popResults{
        width: 31%;
        margin: 0;
    }
    .activitiesSection{
        height: auto;
    }
    .activitiesPreview{
        height: 267px;
    }
}

/* Affichage Smartphone 768>320 */

@media (max-width: 768px) {
    body{
        margin: 0;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }

    /* nav */

    header{
        margin: 0 20px 20px 20px;
    }
    .blockNav{
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .buttonNav:hover{
        border-bottom: 3px solid var(--blueText);
        border-top: none;
        /* anti-translate on hover */
            position: relative; 
            top: 2px;
    }
    nav img{
        margin-top: 21px;
    }
    .buttonNav{
        border-bottom: 3px solid var(--lighGrey);
        width: 50%;
        height: 80px;
        padding-top: 10px;
    }
    .searchBar{
        justify-content: center;
    }
    .research{
        width: 100%;
    }

    /* Filtres */

    .filterBar{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .filtersSpace{
        padding-bottom: 17px;
        width: 49%;
    }
    .buttonFilter{
        justify-content: flex-start;
    }
    .fa-person{ /* fix alignement texte/icone */
        padding-left: 6px;
        padding-right: 6px;
    }
    .fa-heart{
        padding-right: 1px;
    }
    .display{
        display: block;
    }
    .buttonSearch{
        width: 50px;
    }
    .buttonSearch>span{
        display: none;
    }
    .infoSearch{
        padding: 0;
    }
    .buttonFilter>p{
        font-size: 11px;
    }

    /* Sections hebergements et populaires */
    
    main{
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
    }
    .popSection{
        border-radius: 0;
        padding-bottom: 0;
        height: auto;
        margin: 0;
    }
    .popSectionTitle{
        padding: 28px 20px 0px 20px;
    }
    .popResultsCards{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .popResults{
        margin-bottom: 10px;
        width: 100%;
    }
    .detailsPop h3{
        font-size: 16px;
    }
    .detailsPop p{
        font-size: 14px;
    }
    .lodgeSection{
        background-color: white;
        height: auto;
    }
    .lodgeTitle{
        padding: 28px 20px 0px 20px;
    }
    .resultsField{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .results{
        width: 100%;
        margin-bottom: 12px;
    }
    .showMore{
        display: none;
    }

    /* Activités */

    .activitiesSection{
        width: 100%;
        margin: 0;
    }
    .activitiesSection>h2{
        padding-left: 20px;
    }
    .activitiesCards{
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
    }
    .activitiesPreview{
        width: 100%;
        margin-top: 0;
        margin-bottom: 24px;
    }

    /* Footer */
    
    footer{
        flex-direction: column;
        padding: 45px 30px 30px 30px;
    }
    .footerTxt{
        padding-bottom: 40px;
        width: 100%;
    }
}